<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CreateProfileServlet</servlet-name>
        <servlet-class>net.ouproject.CreateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>net.ouproject.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>net.ouproject.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <servlet-class>net.ouproject.DeleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordReminderServlet</servlet-name>
        <servlet-class>net.ouproject.PasswordReminderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfilePicture</servlet-name>
        <servlet-class>net.ouproject.UploadProfilePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>net.ouproject.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupServlet</servlet-name>
        <servlet-class>net.ouproject.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClubServlet</servlet-name>
        <servlet-class>net.ouproject.EditClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClubServlet</servlet-name>
        <servlet-class>net.ouproject.UpdateClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClubServlet</servlet-name>
        <servlet-class>net.ouproject.DeleteClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeamServlet</servlet-name>
        <servlet-class>net.ouproject.UpdateTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeamServlet</servlet-name>
        <servlet-class>net.ouproject.DeleteTeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchGroupServlet</servlet-name>
        <servlet-class>net.ouproject.SearchGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroupServlet</servlet-name>
        <servlet-class>net.ouproject.JoinGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveGroupServlet</servlet-name>
        <servlet-class>net.ouproject.LeaveGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>net.ouproject.CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelEventServlet</servlet-name>
        <servlet-class>net.ouproject.CancelEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>net.ouproject.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableForServlet</servlet-name>
        <servlet-class>net.ouproject.AvailableForServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePartnerRequestServlet</servlet-name>
        <servlet-class>net.ouproject.CreatePartnerRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePartnerRequestServlet</servlet-name>
        <servlet-class>net.ouproject.ManagePartnerRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProfileServlet</servlet-name>
        <url-pattern>/CreateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileServlet</servlet-name>
        <url-pattern>/DeleteProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordReminderServlet</servlet-name>
        <url-pattern>/PasswordReminderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfilePicture</servlet-name>
        <url-pattern>/UploadProfilePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupServlet</servlet-name>
        <url-pattern>/CreateGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClubServlet</servlet-name>
        <url-pattern>/EditClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClubServlet</servlet-name>
        <url-pattern>/UpdateClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClubServlet</servlet-name>
        <url-pattern>/DeleteClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeamServlet</servlet-name>
        <url-pattern>/UpdateTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeamServlet</servlet-name>
        <url-pattern>/DeleteTeamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchGroupServlet</servlet-name>
        <url-pattern>/SearchGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroupServlet</servlet-name>
        <url-pattern>/JoinGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveGroupServlet</servlet-name>
        <url-pattern>/LeaveGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/CreateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelEventServlet</servlet-name>
        <url-pattern>/CancelEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/DeleteEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableForServlet</servlet-name>
        <url-pattern>/AvailableForServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePartnerRequestServlet</servlet-name>
        <url-pattern>/CreatePartnerRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePartnerRequestServlet</servlet-name>
        <url-pattern>/ManagePartnerRequestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/__4spadesnet</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
